<% include ./partials/header %>
<section class="blog-wrapper">
  <div class="row">
    <div class="container">
      <div class="col-md-4">
        <% include ./Sidebar %>
      </div>
      <div class="col-md-8">
        <% include ./MainContent %>
      </div>
    </div>
  </div>
</section>
<% include ./partials/footer %>
