<div class="blog-contents">
  <div class="blog blog-head">
    <div class="wc-msg">
      <h2>Hi! Guest Login In</h2>
    </div>
    <div class="post-btn">
      <a class="btn btn-info" href="#">Add a Post</a>
    </div>
  </div>
  <div class="blog blog-post">
    <div class="blog-title">
      <h2>Blog Title Goes Here</h2>
    </div>
    <div class="blog-meta">
      <ul class="list-inline">
        <li>By <a href="#">zonayedpca</a></li>
        <li>On 13Feb, 2018</li>
      </ul>
    </div>
    <div class="blog-post">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos vitae necessitatibus molestias modi nisi maxime assumenda quo at sequi tempora repudiandae amet voluptatum temporibus excepturi, ipsum quam natus laudantium illum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum unde voluptatum, enim cupiditate culpa ullam mollitia provident veniam laudantium commodi, cum esse amet odit id, fuga, optio libero laboriosam at.</p>
    </div>
    <div class="blog-foot">
      <ul class="list-inline">
        <li><a class="btn btn-success" href="#">Read More</a></li>
        <li><a href="#">14 Comments</a></li>
      </ul>
    </div>
  </div>
</div>
