<div class="blog-sidebar">
  <div class="sidebar sidebar-text">
    <h4>About This Blog</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ducimus rem in ea esse eius temporibus soluta ut necessitatibus quibusdam eos beatae odit cum, repellendus aut, qui voluptatem, nam a.</p>
  </div>
  <div class="sidebar sidebar-list">
    <h4>Category</h4>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Category1</a></li>
      <li class="list-inline-item"><a href="#">Category2</a></li>
      <li class="list-inline-item"><a href="#">Category3</a></li>
      <li class="list-inline-item"><a href="#">Category4</a></li>
      <li class="list-inline-item"><a href="#">Category5</a></li>
      <li class="list-inline-item"><a href="#">Category6</a></li>
    </ul>
  </div>
  <div class="sidebar sidebar-list">
    <h4>Meta</h4>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Login</a></li>
      <li class="list-inline-item"><a href="#">Register</a></li>
    </ul>
  </div>
  <div class="sidebar sidebar-form">
    <form class="form" action="#" method="GET">
      <input class="form-control" type="text" name="search">
      <button class="btn btn-info" type="submit">Search</button>
    </form>
  </div>
</div>
